.contact {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}



@media screen and (max-width:777px) {
    .input {
        width: 25rem;
    }
}
@media screen and (max-width:482px) {
    .input {
        width: 18rem;
    }
}